[submodule "bash/bash_it"]
path = bash/bash_it
url = https://github.com/Bash-it/bash-it.git

[submodule "shell/fzf-tab-completion"]
path = shell/fzf-tab-completion
url = https://github.com/lincheney/fzf-tab-completion.git
