[submodule "fzf/fzf.fish"]
	path = fzf/fzf.fish
	url = https://github.com/patrickf1/fzf.fish.git
[submodule "install/installer"]
	path = install/installer
	url = https://github.com/dycw/installer.git
[submodule "tmux/.tmux"]
	path = tmux/.tmux
	url = https://github.com/gpakosz/.tmux.git
