repos:
  - repo: https://github.com/dycw/pre-commit-hooks
    rev: 0.15.22
    hooks:
      - id: add-hooks
        args:
          - --ci-github
          - --description=Dotfiles
          - --fish
          - --lua
          - --prettier
          - --repo-name=dotfiles
          - --shell
          - --toml
          - --xml
        priority: 10
