[build-system]
  build-backend = "uv_build"
  requires = ["uv_build"]

[dependency-groups]
  dev = ["dycw-utilities[test]>=0.184.4", "pyright>=1.1.408", "rich>=14.2.0"]

[project]
  authors = [{ email = "d.wan@icloud.com", name = "Derek Wan" }]
  description = "Dotfiles"
  name = "dycw-dotfiles"
  readme = "README.md"
  requires-python = ">= 3.12"
  version = "0.4.4"

[tool]
  [tool.uv]
    [tool.uv.build-backend]
      module-name = "dotfiles"
      module-root = "src"
