# dependency groups
[dependency-groups]
  dev = [
    "pyright[nodejs]>=1.1.406",
    "pytest>=8.4.2",
    "pytest-xdist>=3.8.0",
    "rich>=14.2.0",
  ]

# project
[project]
  dependencies = []
  name = "dotfiles"
  requires-python = ">= 3.13"
  version = "0.0.0"

# bump-my-version
[tool.bumpversion]
  allow_dirty = true
  current_version = "0.3.237"

# pyright
[tool.pyright]
  enableReachabilityAnalysis = false
  exclude = ["ipython/startup.py"]
  ignore = ["ipython/startup.py"]
  reportCallInDefaultInitializer = true
  reportImplicitOverride = true
  reportImplicitStringConcatenation = true
  reportImportCycles = true
  reportMissingSuperCall = true
  reportPropertyTypeMismatch = true
  reportUninitializedInstanceVariable = true
  reportUnnecessaryTypeIgnoreComment = true
  reportUnreachable = false
  reportUnusedCallResult = true
  typeCheckingMode = "strict"

# ruff
[tool.ruff]
  target-version = "py313"
  unsafe-fixes = true

  [tool.ruff.format]
    preview = true
    skip-magic-trailing-comma = true

  [tool.ruff.lint]
    explicit-preview-rules = true
    fixable = ["ALL"]
    ignore = [
      "ANN401",   # any-type
      "ASYNC109", # async-function-with-timeout
      "C901",     # complex-structure
      "CPY",      # flake8-copyright
      "D",        # pydocstyle
      "DOC",      # pydoclint
      "E501",     # line-too-long
      "PD",       # pandas-vet
      "PERF203",  # try-except-in-loop
      "PLC0415",  # import-outside-top-level
      "PLR0904",  # too-many-public-methods
      "PLR0911",  # too-many-return-statements
      "PLR0912",  # too-many-branches
      "PLR0913",  # too-many-arguments
      "PLR0915",  # too-many-statements
      "PLR2004",  # magic-value-comparison
      "PT012",    # pytest-raises-with-multiple-statements
      "PT013",    # pytest-incorrect-pytest-import
      "S202",     # tarfile-unsafe-members
      "S310",     # suspicious-url-open-usage
      "S311",     # suspicious-non-cryptographic-random-usage
      "S602",     # subprocess-popen-with-shell-equals-true
      "S603",     # subprocess-without-shell-equals-true
      "S607",     # start-process-with-partial-path
      "TID252",   # relative-imports
      # preview
      "S101", # assert
      # formatter
      "COM812", # missing-trailing-comma
      "COM819", # prohibited-trailing-comma
      "E111",   # indentation-with-invalid-multiple
      "E114",   # indentation-with-invalid-multiple-comment
      "E117",   # over-indented
      "ISC001", # single-line-implicit-string-concatenation
      "ISC002", # multi-line-implicit-string-concatenation
      "W191",   # tab-indentation
    ]
    select = ["ALL"]

    [tool.ruff.lint.extend-per-file-ignores]
      "ipython/startup.py" = ["A004"] # builtin-import-shadowing

    [tool.ruff.lint.flake8-tidy-imports]
      ban-relative-imports = "all"

    [tool.ruff.lint.isort]
      required-imports = ["from __future__ import annotations"]
      split-on-trailing-comma = false
