[dependency-groups]
  dev = ["dycw-utilities[test]>=0.183.4", "pyright>=1.1.408", "rich>=14.2.0"]

[project]
  authors = [{ email = "d.wan@icloud.com", name = "Derek Wan" }]
  description = "My dotfiles"
  name = "dotfiles"
  requires-python = ">= 3.12"
  version = "0.4.1"

[build-system]
  build-backend = "uv_build"
  requires = ["uv_build"]
