[Unit]
Description=DNS forwarder
Documentation=https://thekelleys.org.uk/dnsmasq/doc.html
Wants=network-pre.target
After=network-pre.target

[Service]
ExecStart=DNSMASQ_BIN --keep-in-foreground --conf-file=DNSMASQ_MAIN_CONF
Restart=on-failure

[Install]
WantedBy=multi-user.target
