<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.redis-stack.redis-stack-server</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/Caskroom/redis-stack-server/7.4.0-v0/bin/redis-stack-server</string>
        <string>--port</string>
        <string>6380</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
